@model ProyectoTelefonia.Directo

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Directo</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Puesto.NumeroTipo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Puesto.NumeroTipo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SubArea.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SubArea.Nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Numero)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Numero)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Estado)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Estado)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NoMostrar)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NoMostrar)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Observacion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Observacion)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
