<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Mi aplicación ASP.NET</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

    <!-- SCRIPT DE LA BARRA DE BUSQUEDA -->
    <script src="~/Scripts/jquery-2.1.4.min.js" type="text/javascript"></script>

    <script type="text/javascript">
        $(document).ready(function () {
            (function ($) {
                $('#filtrar').keyup(function () {
                    var rex = new RegExp($(this).val(), 'i');
                    $('.buscar tr').hide();
                    $('.buscar tr').filter(function () {
                        return rex.test($(this).text());
                    }).show();
                })
            }(jQuery));
        });
    </script>

    <script type="text/javascript">
        $(function () {
            $(window).load(function () {
                $(':input:visible:enabled:first').focus();
            });
        })
    </script>

</head>


<body>

    <div class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Listado", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>

            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>
                        <!-- barra de busqueda -->
                        <div class="navbar-form " role="search">
                            <div class="input-group">
                                <span class="input-group-addon">Buscar</span>
                                <input id="filtrar" type="text" class="form-control" autofocus placeholder="Ingrese lo que busca...">
                            </div>
                        </div>
                    </li>
                    @if (User.IsInRole("administrador"))
                    {
                        <li>@Html.ActionLink("Internos", "Index", "Internos")</li>

                        <li>@Html.ActionLink("Sectores", "Index", "SubAreas")</li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                Otros <b class="caret"></b>
                            </a>
                            <ul class="dropdown-menu">
                                <li>@Html.ActionLink("Directos", "Index", "Directos")</li>
                                <li>@Html.ActionLink("Pisos", "Index", "Pisos")</li>
                                <li>@Html.ActionLink("Puestos", "Index", "Puestos")</li>
                                @*<li class="divider"></li>*@
                                <li>@Html.ActionLink("Areas", "Index", "Areas")</li>
                            </ul>
                        </li>
                    }
                </ul>

                @Html.Partial("_LoginPartial")

                <ul class="nav navbar-nav navbar-right">
                    <li>
                        @(User.IsInRole("administrador") ? @Html.ActionLink("Sugerencias", "ListadoSugerencias", "Home") : @Html.ActionLink(" Sugerencia", "Contact", "Home"))
                    </li>
                </ul>
            </div>
        </div>
    </div>


    <div class="container body-content efecto1">
        @RenderBody()
        <br />
        <hr />
        <footer>
            <p class="text-center">&copy; @DateTime.Now.Year - Version @ViewBag.version</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
